* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

:root {
  --main-color: #f31c2b;
  --text-color: #ffc641;
  --bg-color: #000;
}

img {
  width: 100%;
}

body {
  min-height: 100dvh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  margin: 0;
}

p {
  text-wrap: pretty;
  color: #fff;
}

.container {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  width: 30%;
  height: 30%;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  padding: 10px 0;
  margin-bottom: 20px;
}

.palindrome-definition-container {
  width: min(100vw, 450px);
  font-size: 1.3rem;
  min-height: 140px;
  background-color: var(--text-color);
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.palindrome-definition {
  vertical-align: middle;
  text-align: center;
}

.palindrome-input-container {
  width: min(100vw, 450px);
  min-height: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 0 6px 6px #f31c2b;
}

.palindrome-input {
  height: 30px;
  width: 250px;
  text-align: center;
  font-size: 1.2rem;
  margin: 10px;
  border: none;
  border-bottom: 2px solid #f31c2b;
}

.palindrome-btn {
  width: 90px;
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color: #f31c2b;
  color: #fff;
  cursor: pointer;
}

label {
  color: var(--text-color);
  margin-bottom: 20px;
}

.results {
  overflow-y: auto;
  word-wrap: break-word;
  min-height: 50px;
  color: black;
}

.hidden {
  display: none;
}
